<% provide(:title, 'Users') %>
<h1>Users</h1>

<h5> 
  List of all users
</h5>

<table style="width:300px">
<tr>
    <th>Username</th>
    <th>Email</th> 
</tr>
 
 <% @all_user.each do |a| %>
 
<tr>
  
  
    <td><em><%= a.name %></em></td>
    <td> <em><%= a.email -%></em></td>
  
  
</tr>

<% end -%>

</table>

